tqdm==4.65.2
torch==2.4.1
click==8.1.7
pyyaml==6.0.2
numpy==1.26.4
torchvision==0.19.1
diffusers==0.32.2
Pillow==10.4.0
scipy==1.14.1
munch==4.0.0
transformers==4.45.1
torchmetrics==1.4.1
scikit-image==0.24.0
opencv-python==4.6.0.66
sentencepiece==0.2.0
protobuf==3.20.3
accelerate==0.34.2
gradio==5.31.0
